body{
background-image: url("room1.jpg");
background-repeat:no-repeat;
background-size: 100% 720px;
font-family: Stencil, Arial, sans-serif;
}
label
{
	color:red;
}
*[role="form"]
{
	 background-color:fff;
	 opacity:0.8;
	 padding:15px;
	 margin-top:10px;
	 border-radius:1.3em;
}






